fastapi==0.110.0
uvicorn==0.30.0
pandas==2.2.2
scikit-learn==1.6.1
joblib==1.4.0
streamlit==1.33.0
requests==2.31.0
sentence-transformers==2.7.0
prometheus-fastapi-instrumentator==6.1.0
typing-extensions==4.11.0
torch --index-url https://download.pytorch.org/whl/cpu